@use "./mixins";
@use "./variables.module.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
  height: 100px;
  @include mixins.reset-ul();
  li {
    padding: 0.1em 0;
    @include mixins.center-content();
    flex: 1;
  }

  //! Phone
  .phone {
    display: flex;
    gap: 0.85em;
    div:first-of-type {
      background-color: #fff;
      @include mixins.rounded-circle(50px);
      @include mixins.center-content();
    }
    div {
      p:first-of-type {
        margin-bottom: 0;
        font-size: 15.5px;
        font-weight: 500;
      }
      p:last-of-type {
        margin-top: 0;
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }

  //! MainNav
  .mainNav {
    flex: 3;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        flex: 1;
        padding: 0 1em;
      }
      li:nth-child(4) {
        flex: 2;
        min-width: 160px;
      }
    }
    @media (max-width: variables.$lg) {
      display: none;
    }
  }

  //! Cart
  .cart {
    display: flex;
    justify-content: flex-end;
    min-width: 60px;
    padding-right: 10px;
    position: relative;
  }
}
